<script>
function seePlay(x) {
    if (x==0) {
        document.getElementById("pplay4").style.display='flex';
    }else if (x==1)
    {
        document.getElementById("pplay4").style.display='none';
    }else {
        document.getElementById("pplay4").style.display='none';
    }
    return;

}
</script>



<%= simple_form_for([@ticket_list, @ticket_list.ticket_items.build]) do |f| %>
    <div id="add-form" style=" text-align:center;">
        <div style="display: flex;justify-content: space-evenly;width:100%, float:left;">
        <%= f.input :ttype,:input_html => { :type => "radio", :id => "p3", :value => "Play3", :onClick => 'seePlay(1)'}, label: "Play3"%>
        <%= f.input :ttype,:input_html => { :type => "radio", :id => "p4", :value => "Play4", :onClick => 'seePlay(0)'}, label: "Play4"%>
        <%= f.input :ttype,:input_html => { :type => "radio", :id => "lottery", :value => "Lottery", :onClick => 'seePlay(0)'}, label: "Lottery"%>
        </div>
        <br />
        <hr>
        <br />
        <span id="pick-numbers" style="display: flex;justify-content: space-evenly;width:60%; float:left;">
            <span><%= f.input :num1, collection: 1..9, label: "#1" %></span>
            <span><%= f.input :num2, collection: 1..9, label: "#2" %></span>
            <span><%= f.input :num3, collection: 1..9, label: "#3"  %></span>
            <div id="pplay4">
                <%= f.input :num4, collection: 1..9, label: "#4"  %>
            </div>
        </span>        
        <span id="pick-case" style="display: flex;justify-content: space-evenly;width:40%, float:left;">
            <span><%= f.input :bxnum, as: :integer, input_html: { step: 1.0, required: true, value: 0, min:0 }, label: "BX"  %></span>
            <span><%= f.input :stnum, collection: 0..5, input_html: { step: 1.0, required: true, value: 0, max: 5}, label: "ST"  %></span>
            <span><%= f.input :starnum, as: :integer, input_html: { step: 1.0, required: true, value: 0, min:0 }, label: "*"  %></span>
            <span><%= f.input :lotnum,as: :integer, input_html: { step: 1.0, required: true, value: 0, min:0 }, label: "Lottery"  %></span>
        </span>
        <br />
        
        <br />
        <%= f.button :submit %>
    </div>
  <% end %>