
<table style="margin-bottom:0px">
    <tr>
        <td style="border: 1px solid;"> <%= ticket_item.ttype %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.num1 %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.num2 %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.num3 %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.num4 %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.bxnum %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.stnum %> </td>
        <td style="border: 1px solid;"> <%= ticket_item.lotnum %> </td>
        <td> <%= link_to "Delete", ticket_list_ticket_item_path(@ticket_list, ticket_item.id), method: :delete, data: { confirm: "Are You Sure?" } %> </td>
    </tr>
</table>
