<h1>Editing Ticket #<%= @ticket_list.id %></h1>

<div style="display:flex1;">
<%= render 'form', ticket_list: @ticket_list %>

</div>

<div id="ticket-items-wrapper">
    <%= render @ticket_list.ticket_items %>
    <div id="form">
        <%= render "ticket_items/form" %>
    </div>
</div>

<%= link_to 'Back To Dashboard', ticket_lists_path, class:"dash-button" %>

