<p id="notice"><%= notice %></p>

<h1>Dashboard</h2>

<%= render 'form', ticket_list: @ticket_list, locals: { myclass: 'b-green-button' } %>

<button> Daily Summer </button>

<button> Print Last </button>

<br />

<div id="index-table">
<table>
  <thead>
    <tr>
      <th colspan="4"> <h1>Previous Tickets</h1></th>
    </tr>
    <tr>
      <th> <%= link_to "Ticket ID", :sort => "id" %> </th>
      <th> </th>
      <th> </th>
      
    </tr>
  </thead>

  <tbody>
    <% @ticket_lists.each do |ticket_list| %>
      <tr>
        <td> Ticket ID #<%= ticket_list.id %> </td>
        <td><%= link_to 'View', ticket_list %></td>
        <td><%= link_to 'Edit', edit_ticket_list_path(ticket_list) %></td>
        <td><%= link_to 'Destroy', ticket_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



