<p id="notice"><%= notice %></p>

<h1>Dashboard</h2>

<%= render 'form', ticket_list: @ticket_list, locals: { myclass: 'b-green-button' } %>

<button> Daily Summer </button>

<button> <%= link_to "Last Ticket", @ticket_last %> </button>


<br />

<h1>Previous Tickets</h1>

<div id="index-table">
<table>
  <thead>
    <tr>
      <th> <%= link_to "Ticket ID", :sort => "id" %> </th>
      <th> Created </th>
      <th> Updated </th>
      <th> View </th>
      <th> Edit </th>
      <th> Delete </th>
      
    </tr>
  </thead>

  <tbody>
    <% @ticket_lists.each do |ticket_list| %>
      <tr>
        <td> Ticket #<%= ticket_list.id %> </td>
        <td><%= ticket_list.created_at %></td>
        <td><%= ticket_list.updated_at %></td>
        <td><%= link_to 'View', ticket_list %></td>
        <td><%= link_to 'Edit', edit_ticket_list_path(ticket_list) %></td>
        <td><%= link_to 'Destroy', ticket_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



