<p id="notice"><%= notice %></p>

<h3> Ticket ID #<%= @ticket_list.id %></h3>
<h4>Ticket Items:</h4>

<%= render @ticket_list.ticket_items %>

<%= link_to 'Add Items/Edit', edit_ticket_list_path(@ticket_list) %> |
<%= link_to 'Back', ticket_lists_path %>
